name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && format('-{0}', github.sha) || '' }}
  cancel-in-progress: true

jobs:
  # run CI on a musl linux
  Alpine:
    name: "Alpine"
    runs-on: ubuntu-latest
    container: alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install necessary packages
        # can't use setup-python because that python doesn't seem to work;
        # `python3-dev` (rather than `python:alpine`) for some ctypes reason,
        # `nodejs` for pyright (`node-env` pulls in nodejs but that takes a while and can time out the test).
        run: apk update && apk add python3-dev bash nodejs
      - name: Enter virtual environment
        run: python -m venv .venv
      - name: Run tests
        run: source .venv/bin/activate && ./ci.sh
      - if: always()
        uses: codecov/codecov-action@v4
        with:
          directory: empty
          token: 87cefb17-c44b-4f2f-8b30-1fff5769ce46
          name: Alpine
          flags: Alpine,3.12
